<carousel>
  <slide>
    <img src="../../../assets/images/nature/images4.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../../assets/images/nature/images6.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../../assets/images/nature/images7.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../../assets/images/nature/images8.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../../assets/images/nature/images9.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../../assets/images/nature/images10.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>